/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo{
    width: 50px;
}
.hamburguer{
    width: 25px;
    background-color: #F4F3F4
}

.talking{
    width: 90%;
}


.pub{
    width: 200px;
    margin: 20px;
}

.slogo{
    width: 60px;
}
.flag{
    width: 20px;
}




nav{
    width:95%;
    background-color: #F4F3F4 ;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position:fixed;
    border-bottom: 2px gray solid;
}


nav ul{
    
    display: none;
}

.corpo{
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
}
 header{
    display: flex;
    flex-direction: column-reverse;
    
 }
.input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    margin-bottom: 10px;
    padding: 1px -6px 1px 6px ;

}
 .getstart{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #254ebe;
    border: 1px solid #254ebe;
    color: white;
 }

 .flex{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .flexcolun{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .why{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #F4F3F4;
    border: 1px solid hsl(223, 17%, 80%);
    color: #254ebe;

 }

 #padding{
    padding-left: 20px;
    padding-right: 20px ;
 }

.pubarea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F4F3F4;
    align-items: center;
    justify-content: center;
 }

 .corpo2{
    padding-top: 50px;
    padding-right: 0px;
    padding-left: 0px;
}

#fonte{
    font-weight: bolder;
    margin-bottom: 0px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    
    
}

ul{
    list-style-type: none;
    color: rgb(206, 204, 204);
}

li{
    margin: 5px;
    padding: 5px;
}

.bold{
    font-weight: bold;
}
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F3F4;
    color: gray;
}

.ulrodape{
    display: flex;
    color: gray;
    margin-top: 2px;
}

.ajuste{
    margin-bottom: 20px;
    margin-top: 20px;
}

.flexmediapub{
    
    display: flex;
}
@media (min-width: 767px ) {
    .bmedia{
        flex-direction: row;
    }
    .input{
        width: 70%;
        ;
    }
    .getstart{
        width: 20%;
    }
    .mflex{
        display: block;
    }

    .media2{
        flex-direction: row;
        justify-content: space-between;
    }
    .flexcolun2{
        align-items: flex-start;
    }
    .minput{
        width: 50%;
            }
    .mget{
        width: 40%
    }
    .mediaflex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ajuste{
        margin: 0;
        padding: 0;
    }
    .flexmediapub{
        max-width:500px ;
    }

}

@media(min-width:962 ) and (max-width: 1200px){

}
@media (min-width:1200px) {
    .hamburguer{
        display: none;
    }

    nav ul{
        display: flex;
    }

    .logo{
        width: 115px;
    }

    nav{
        width: 98%;
    }
    .limidia{
        border: 1px gray solid;
        border-radius: 5px;
    }
    header{
        flex-direction: row;
        padding-top:5000 px;
    }

    .minput2{
        display: none;
    }
    .header2{
        flex-direction: row;
        padding-top:5000 px;
    }

    .flexmediapub{
        max-width:900px ;
    }

    .corpo{
        padding-top: 90px;
    }
}


